/* ================================
   RESET & BASE
================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f4f4;
    color: #333;
    animation: fadeIn 1s;
    display : flex;
    flex-direction: column;
}

main {
    flex : 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ================================
   HEADER & NAVIGATION
================================== */
header {
    background: #e8f5e9;
    color: #2e7d32;
    text-align: center;
    padding: 2rem 1rem;
    animation: fadeIn 1.5s;
}

header h1 {
    margin-bottom : 15px;
}

a {
    text-decoration: none;
}

header h1 a {
    font-size: 2.5rem;
    color: #c2185b;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    color: #2e7d32;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #c2185b;
}

/* ================================
   FOOTER
================================== */
footer {
    background-color: #e8f5e9;
    text-align: center;
    padding: 1rem;
    color: #333;
    font-size: 0.9rem;
    animation: fadeIn 2.5s ease;
}